* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  letter-spacing: -0.03em;
  margin-top: 0;
}

body {
  margin: 0;
  background-color: #0b0b0b;
  font-size: 16px;
  color: white;
}

code {
  background-color: #f0f0f0;
  color: black;
  font-family:'Courier New', Courier, monospace;
  padding: 0 0.5rem;
  line-height: 1.2;
  border-radius: 4px;
  width: 100%;
  font-weight: 600;
}
